{% extends "layout.html" %}
{% block content %}

<title>このツールについて</title>

<h1>このツールについて</h1>
<br>

    <h2>概要</h2>
    <a href="https://note.com/otomo6sm/n/n65bbb18a6ec5" target="_blank">秘境集落探索ツールを作ったので紹介する</a>（note記事）
    <br><br>

    
    <h2>探索方法</h2>

    <br>
    <h4>集落の定義</h4>
    メッシュ人口データを用い、人口を持つ隣接したメッシュの集合を集落として定義する。
    <!--<ul>-->
        <!--<li>メッシュの人口の合計が「集落人口下限」以上のもの</li>-->
        <!--<li>メッシュ数が「集落メッシュ数上限」以下のもの</li>-->
        <!--&lt;!&ndash;<li>集落の中心点から最寄りの海岸線までの距離が「海岸距離下限」以上のもの</li>&ndash;&gt;-->
    <!--</ul>-->

    <br>たとえば下図のような地域があれば、赤丸で示す7集落が定義される。<br>

    <img src="/static/shiiba.png" width="500"><br>

    <font size="-1">
        ※図の四角はメッシュ、メッシュ内の数字は人口を示している。<br>
        ※メッシュが縦横だけでなく斜めに接している場合も隣接しているとみなす。<br>
        ※人口を持つメッシュが100個より多く隣接している場合は集落とみなさない。<br>
    </font>

    <br>
    <h4>秘境集落の定義</h4>
    集落の「都会度」を以下の式で定義し、都会度が小さいほど秘境度が高いとみなす。<br><br>
    都会度 =
    <font size="+1">
        <math>
            <munderover>
                <mi>&sum;</mi>
                <mrow>
                    <mn>集落外メッシュ</mn>
                </mrow>
            </munderover>
            <mfrac>
                <mrow>
                    <mn>人口</mn>
                </mrow>
                <mrow>
                    <msup>
                        <mn>距離</mn>
                        <mn>2</mn>
                    </msup>
                </mrow>
            </mfrac>
        </math>
    </font>
    <br><br>
    つまり、より近くにより多くの人口があれば都会であり、その逆であれば秘境である。<br>
    <font size="-1">
        ※集落外メッシュとの距離は集落の各メッシュからの距離のうち最短のものを採用する。<br>
        ※計算セグメントを北海道・本州・四国・九州・沖縄の5つにわけ、集落の都会度はセグメント内のメッシュのみを用いて評価する。<br>
        ※本土の都会度計算に離島のメッシュは含めず、離島の都会度計算には本土のメッシュを含んでいる
    </font>
    <br><br>

    <h4>秘境施設の定義</h4>
    施設の「都会度」を以下の式で定義し、都会度が小さいほど秘境度が高いとみなす。<br><br>
    都会度 =
    <font size="+1">
        <math>
            <munderover>
                <mi>&sum;</mi>
                <mrow>
                    <mn>施設が含まれないメッシュ</mn>
                </mrow>
            </munderover>
            <mfrac>
                <mrow>
                    <mn>人口</mn>
                </mrow>
                <mrow>
                    <msup>
                        <mn>距離</mn>
                        <mn>2</mn>
                    </msup>
                </mrow>
            </mfrac>
        </math>
    </font>
    <br><br>
    <font size="-1">
        ※計算セグメントを北海道・本州・四国・九州・沖縄の5つにわけ、施設の都会度はセグメント内のメッシュのみを用いて評価する。<br>
        ※本土の都会度計算に離島のメッシュは含めず、離島の都会度計算には本土のメッシュを含んでいる
    </font>
    <br><br>

    <h4>都会度対決で用いる地点の都会度の定義</h4>
    地点の「都会度」を以下の式で定義する。<br><br>
    都会度 =
    <font size="+1">
        <math>
            <munderover>
                <mi>&sum;</mi>
                <mrow>
                    <mn>地点が含まれないメッシュ</mn>
                </mrow>
            </munderover>
            <mfrac>
                <mrow>
                    <mn>人口</mn>
                </mrow>
                <mrow>
                    <msup>
                        <mn>距離</mn>
                        <mn>2</mn>
                    </msup>
                </mrow>
            </mfrac>
        </math>
    </font>
    <br><br>
    <font size="-1">
        ※計算セグメントを北海道・本州・四国・九州・沖縄の5つにわけ、施設の都会度はセグメント内のメッシュのみを用いて評価する。<br>
        ※本土の都会度計算に離島のメッシュは含めず、離島の都会度計算には本土のメッシュを含んでいる
    </font>
    <br><br>

    <h4>地域区分</h4>
    地域区分は以下の通り。
    <ul>
        <li>北海道：北海道</li>
        <li>東北：青森県、秋田県、岩手県、宮城県、山形県、福島県</li>
        <li>関東：東京都、神奈川県、千葉県、埼玉県、群馬県、栃木県、茨城県</li>
        <li>北陸：新潟県、富山県、石川県、福井県</li>
        <li>中部：山梨県、長野県、岐阜県、静岡県、愛知県</li>
        <li>近畿：滋賀県、京都府、大阪県、三重県、奈良県、和歌山県</li>
        <li>中国：岡山県、鳥取県、広島県、島根県、山口県</li>
        <li>九州：福岡県、佐賀県、長崎県、熊本県、大分県、宮崎県、鹿児島県</li>
        <li>沖縄：沖縄県</li>
    </ul>
    本土を北海道・本州・四国・九州・沖縄本島とし、本土と橋で繋がっていない島を離島と定義する。
    <!--離島に関してはたとえば以下のページが参考になる。<br>-->
    <!--・<a href="http://ritokei.com/" target="_blank">ritokei</a><br>-->
    <!--・<a href="https://www.ritorengo.com/" target="_blank">リトレンゴ</a>-->
    <br><br>

    <h2>使用データ</h2>
    政府統計の総合窓口(e-Stat) 2015年度国勢調査5次メッシュ人口データ<br>
    <a href="https://www.e-stat.go.jp/gis/statmap-search?type=1" target="_blank">https://www.e-stat.go.jp/gis/statmap-search?type=1</a><br>
    <font size="-1">
        ※国土をおよそ250m四方のメッシュに区切り、それぞれのメッシュに人口が入っているデータ
    </font>

    <br><br>
    政府統計の総合窓口(e-Stat) 2015年度国勢調査小地域データ<br>
    <a href="https://www.e-stat.go.jp/gis/statmap-search?type=2" target="_blank">https://www.e-stat.go.jp/gis/statmap-search?type=2</a><br>
    <font size="-1">
        ※集落と地名の紐づけに利用
    </font>

    <br><br>
    国土交通省国土政策局　国土数値情報<br>
    <a href="http://nlftp.mlit.go.jp/ksj/" target="_blank">http://nlftp.mlit.go.jp/ksj/</a><br>
    <ul>
        <li>郵便局　<font size="-1">※データ作成年度：平成25年度</font></li>
        <li>学校　<font size="-1">※データ作成年度：平成25年度</font></li>
        <li>鉄道　<font size="-1">※データの基準となる年月日：令和元（2019）年12月31日時点</font></li>
        <li>鉄道時系列　<font size="-1">※データ基準年月日：昭和25年1月1日からデータ整備年の12月31日の間に運行していた鉄道路線</font></li>
        <li>道の駅　<font size="-1">※データ作成年度：平成30年度（平成31年1月1日時点）</font></li>
        <li>ニュータウン　<font size="-1">※データ作成年度：平成25年度</font></li>
        <li>研究機関　<font size="-1">※データの基準年月日：平成24（2012）年9月1日時点</font></li>
    </ul>

    <br>
    774@まとめ屋さんの訪問先まとめマップ<br>
    <a href="http://umap.openstreetmap.fr/ja/map/r774_368811" target="_blank">http://umap.openstreetmap.fr/ja/map/r774_368811</a><br>
    774@まとめ屋さん：<a href="https://twitter.com/kendou774" target="_blank">@kendou774</a><br>
    （作者：<a href="http://umap.openstreetmap.fr/ja/user/muramototomoya/">muramototomoya</a>さん）<br>
    <br>
    
    <h2>ver.1</h2>
    <a href="https://search-isolated-villages.herokuapp.com/" target="_blank">https://search-isolated-villages.herokuapp.com/</a>
    <br><br>

    <h2>ソースコード</h2>
        <a href="https://github.com/ogawa-tomo/search-isolated-villages-2.git" target="_blank">https://github.com/ogawa-tomo/search-isolated-villages-2.git</a>
        <br><br>
    <h2>作者</h2>
    Twitter: <a href="https://twitter.com/otomo6sm" target="_blank">@otomo6sm</a>

    <br><br>

    {% endblock %}