{% extends "layout.html" %}
{% block content %}

<title>このツールについて</title>

<h1>このツールについて</h1>
<br>
    
    <h2>探索方法</h2>

    <br>
    <h4>集落の定義</h4>
    メッシュ人口データを用い、人口を持つ隣接したメッシュの集合を集落として定義する。
    <!--<ul>-->
        <!--<li>メッシュの人口の合計が「集落人口下限」以上のもの</li>-->
        <!--<li>メッシュ数が「集落メッシュ数上限」以下のもの</li>-->
        <!--&lt;!&ndash;<li>集落の中心点から最寄りの海岸線までの距離が「海岸距離下限」以上のもの</li>&ndash;&gt;-->
    <!--</ul>-->

    <br>たとえば下図のような地域があれば、赤丸で示す2集落が定義される。<br>

    <img src="/static/sagres.png" width="500"><br>

    <font size="-1">
        ※図の四角はメッシュ、メッシュ内の数字は人口を示している。<br>
        ※人口を持つメッシュが10個より多く隣接している場合は集落とみなさない。<br>
        ※メッシュが縦横だけでなく斜めに接している場合も隣接しているとみなす。<br>
    </font>

    <br>
    <h4>秘境集落の定義</h4>
    集落の「都会度」を以下の式で定義し、都会度が小さいほど秘境度が高いとみなす。<br><br>
    都会度 =
    <font size="+1">
        <math>
            <munderover>
                <mi>&sum;</mi>
                <mrow>
                    <mn>集落外メッシュ</mn>
                </mrow>
            </munderover>
            <mfrac>
                <mrow>
                    <mn>人口</mn>
                </mrow>
                <mrow>
                    <msup>
                        <mn>距離</mn>
                        <mn>2</mn>
                    </msup>
                </mrow>
            </mfrac>
        </math>
    </font>
    <br><br>
    つまり、より近くにより多くの人口があれば都会であり、その逆であれば秘境である。<br>
    <font size="-1">
        ※集落外メッシュとの距離は集落の各メッシュからの距離のうち最短のものを採用する。
    </font>
    <br><br>

    

    <h2>使用データ</h2>
    Eurostatによるヨーロッパ人口分布データ<br>
    <a href="https://ec.europa.eu/eurostat/web/gisco/geodata/reference-data/population-distribution-demography/geostat" target="_blank">https://ec.europa.eu/eurostat/web/gisco/geodata/reference-data/population-distribution-demography/geostat</a><br>
    <font size="-1">
        ※ヨーロッパをおよそ1km四方のメッシュに区切り、それぞれのメッシュに人口が入っているデータ
    </font>
    <br><br>

    <!-- <br><br>
    政府統計の総合窓口(e-Stat) 2015年度国勢調査小地域データ<br>
    <a href="https://www.e-stat.go.jp/gis/statmap-search?type=2" target="_blank">https://www.e-stat.go.jp/gis/statmap-search?type=2</a><br>
    <font size="-1">
        ※集落と地名の紐づけに利用
    </font>

    <br><br>
    国土交通省国土政策局　国土数値情報<br>
    <a href="http://nlftp.mlit.go.jp/ksj/" target="_blank">http://nlftp.mlit.go.jp/ksj/</a><br>
    <ul>
        <li>郵便局　<font size="-1">※データ作成年度：平成25年度</font></li>
        <li>学校　<font size="-1">※データ作成年度：平成25年度</font></li>
        <li>鉄道　<font size="-1">※データの基準となる年月日：令和元（2019）年12月31日時点</font></li>
        <li>鉄道時系列　<font size="-1">※データ基準年月日：昭和25年1月1日からデータ整備年の12月31日の間に運行していた鉄道路線</font></li>
        <li>道の駅　<font size="-1">※データ作成年度：平成30年度（平成31年1月1日時点）</font></li>
        <li>ニュータウン　<font size="-1">※データ作成年度：平成25年度</font></li>
        <li>研究機関　<font size="-1">※データの基準年月日：平成24（2012）年9月1日時点</font></li>
    </ul> -->

    <h2>ソースコード</h2>
        <a href="https://github.com/ogawa-tomo/search-isolated-villages-europe.git" target="_blank">https://github.com/ogawa-tomo/search-isolated-villages-europe.git</a>
        <br><br>
    <h2>作者</h2>
    Twitter: <a href="https://twitter.com/otomo6sm" target="_blank">@otomo6sm</a>

    <br><br>

    {% endblock %}