{% extends "layout.html" %}
{% block content %}

<meta name="twitter:card" content="summary" />
<!--<meta name="twitter:site" content="@ユーザー名" /> /*②*/-->
<!--<meta property="og:url" content="記事のURL" /> /*③*/-->
<meta property="og:title" content="秘境集落探索ツール（ver.2）" />
<meta property="og:description" content="秘境集落を探索し、秘境度を人口分布データをもとに評価して地域別にランキングで出力します。" />
<meta property="og:image" content="https://search-isolated-villages-2.herokuapp.com/static/village.png" />

<title>秘境集落探索ツール</title>

<h1>秘境集落探索ツール（ver.2）</h1>
<br>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-url="https://search-isolated-villages-2.herokuapp.com/" data-text="秘境集落探索ツール（ver.2）" data-size="large">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<br>
秘境集落を探索し、秘境度を人口分布データをもとに評価して地域別にランキングで出力します。<br>
<!-- ・<a href="/uranai">秘境集落占い</a><br>

<div class="dropdown">
    <button class="btn btn-light btn-sm dropdown-toggle border-dark" type="button" data-toggle="dropdown">
        その他の秘境探索ツールへ移動
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/post_office">秘境郵便局探索ツール</a>
        <a class="dropdown-item" href="/elementary_school">秘境小学校探索ツール</a>
        <a class="dropdown-item" href="/station">秘境駅探索ツール</a>
        <a class="dropdown-item" href="/abandoned_station">秘境廃駅探索ツール</a>
        <a class="dropdown-item" href="/michinoeki">秘境道の駅探索ツール</a>
        <a class="dropdown-item" href="/new_town">秘境ニュータウン探索ツール</a>
        <a class="dropdown-item" href="/research_institute">秘境研究機関探索ツール</a>
    </div>
</div> -->

<img src="/static/village.png" width="350">
<br><br>

<!--<form action="/result" method="post">-->
<form action="/result#result" method="post">
    <table class="table table-responsive">
        <tr>
            <th>探索条件</th>
            <th>設定値</th>
        </tr>
        <tr>
            <td>地域</td>
            <td>
                {% if setting %}
                    {{ setting.region }}
                {% else %}
                    <select name="region" id="region" required>
                        <option value="" selected disabled hidden>地域を選択</option>
                            <option value="全国">全国</option>
                        <optgroup label="地域">
                            <option value="北海道">北海道</option>
                            <option value="東北">東北</option>
                            <option value="関東">関東</option>
                            <option value="北陸">北陸</option>
                            <option value="中部">中部</option>
                            <option value="近畿">近畿</option>
                            <option value="中国">中国</option>
                            <option value="四国">四国</option>
                            <option value="九州">九州</option>
                            <option value="沖縄">沖縄</option>
                        </optgroup>
                        <optgroup label="都道府県">
                            <option value="北海道">北海道</option>
                            <option value="青森県">青森県</option>
                            <option value="岩手県">岩手県</option>
                            <option value="宮城県">宮城県</option>
                            <option value="秋田県">秋田県</option>
                            <option value="山形県">山形県</option>
                            <option value="福島県">福島県</option>
                            <option value="茨城県">茨城県</option>
                            <option value="栃木県">栃木県</option>
                            <option value="群馬県">群馬県</option>
                            <option value="埼玉県">埼玉県</option>
                            <option value="千葉県">千葉県</option>
                            <option value="東京都">東京都</option>
                            <option value="神奈川県">神奈川県</option>
                            <option value="新潟県">新潟県</option>
                            <option value="富山県">富山県</option>
                            <option value="石川県">石川県</option>
                            <option value="福井県">福井県</option>
                            <option value="山梨県">山梨県</option>
                            <option value="長野県">長野県</option>
                            <option value="岐阜県">岐阜県</option>
                            <option value="静岡県">静岡県</option>
                            <option value="愛知県">愛知県</option>
                            <option value="三重県">三重県</option>
                            <option value="滋賀県">滋賀県</option>
                            <option value="京都府">京都府</option>
                            <option value="大阪府">大阪府</option>
                            <option value="兵庫県">兵庫県</option>
                            <option value="奈良県">奈良県</option>
                            <option value="和歌山県">和歌山県</option>
                            <option value="鳥取県">鳥取県</option>
                            <option value="島根県">島根県</option>
                            <option value="岡山県">岡山県</option>
                            <option value="広島県">広島県</option>
                            <option value="山口県">山口県</option>
                            <option value="徳島県">徳島県</option>
                            <option value="香川県">香川県</option>
                            <option value="愛媛県">愛媛県</option>
                            <option value="高知県">高知県</option>
                            <option value="福岡県">福岡県</option>
                            <option value="佐賀県">佐賀県</option>
                            <option value="長崎県">長崎県</option>
                            <option value="熊本県">熊本県</option>
                            <option value="大分県">大分県</option>
                            <option value="宮崎県">宮崎県</option>
                            <option value="鹿児島県">鹿児島県</option>
                            <option value="沖縄県">沖縄県</option>
                        </optgroup>
                    </select>
                {% endif %}
            </td>
        </tr>
        
        <tr>
            <td>集落人口</td>
            <td>
                {% if setting %}
                    {{ setting.village_pop_lower_limit }}<font size="-1">人以上</font>
                    {{ setting.village_pop_upper_limit }}<font size="-1">人以下</font>
                {% else %}
                    <input type="number" name="village_pop_lower_limit" id="village_pop_lower_limit" style="width: 3em" value="1" min="1" required><font size="-1">人</font> ~
                    <input type="number" name="village_pop_upper_limit" id="village_pop_upper_limit" style="width: 5em" value="10000" min="1" required><font size="-1">人</font>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>集落面積
                {% if setting %}
                {% else %}
                    <sup>*1</sup>
                {% endif %}
            </td>
            <td>
                {% if setting %}
                    {{ setting.village_size_lower_limit }}<font size="-1">メッシュ以上</font>
                    {{ setting.village_size_upper_limit }}<font size="-1">メッシュ以下</font>
                {% else %}
                    <input type="number" name="village_size_lower_limit" id="village_size_lower_limit" style="width: 3em" value="1" min="1" max="100" required><font size="-1">メッシュ</font> ~
                    <input type="number" name="village_size_upper_limit" id="village_size_upper_limit" style="width: 3em" size="3" value="100" min="1" max="100" required><font size="-1">メッシュ<sup>*2</sup></font>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                離島設定
                {% if setting %}
                {% else %}
                    <sup>*3</sup>
                {% endif %}
            </td>
            <td>
                {% if setting %}
                    {{ setting.island_setting }}
                {% else %}
                    <label><input type="radio" name="island_setting" value="離島を含まない" checked>離島を含まない</label>
                    <label><input type="radio" name="island_setting" value="離島を含む">離島を含む</label>
                    <label><input type="radio" name="island_setting" value="離島のみ">離島のみ</label>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>キーワード絞り込み</td>
            <td>
                {% if setting %}
                    {{ setting.key_words }}
                {% else %}
                    <input type="text" name="key_words" id="key_words" size="25" value="" placeholder="例：○○村">
                {% endif %}
            </td>
        </tr>
    </table>
    {% if setting %}
    {% else %}
        <!--<button type="submit" class="btn btn-primary btn-lg">探索</button>-->
        <button type="submit" class="btn btn-primary">探索</button>
        <br><br>
        <font size="-1">
            *1: 1メッシュはおよそ250m四方<br>
            *2: 集落面積の上限は100メッシュ<br>
            *3: 本土と橋で繋がっていない島を離島とする
        </font>
        <br>
    {% endif %}
</form>
<br>

{% if result %}
    <h2 id="result">探索結果</h2>
    <br>
    <a href="{{ result.get_mesh_map_get_url() }}" target="_blank">集落分布図</a><br>
    <font size="-1">
        ※上位{{ result.output_map_num }}件まで<br>
        ※都道府県単位の探索時、人口分布を合わせて表示<br>
        ※都道府県単位の探索時、表示する順位は離島を含む集落全体の順位
    </font>
    <br><br>
    <table class="table table-responsive">
        <tr>
            <th>順位</th>
            <th>都道府県</th>
            <th>市町村</th>
            <th>地区</th>
            <th>地図</th>
<!--            <th>Mesh Map</th>-->
            <th>人口</th>
            <th>面積</th>
            <!--<th>海岸距離(km)</th>-->
            <th>都会度</th>


        </tr>
        {% for v in result.objects[:result.num] %}
            <tr>
                <td>{{ loop.index }}<font size="-1">位</font></td>
                <td>{{ v.pref }}</td>
                <td>{{ v.city }}</td>
                <td>{{ v.district }}</td>
                <td>
                    <a href="{{ v.get_google_map_url() }}" target="_blank">Googleマップ</a>
                    <a href="{{ v.get_mesh_map_get_url(result.map_file) }}" target="_blank">集落分布図</a>
                </td>
                <td>{{ v.population }}<font size="-1">人</font></td>
                <td>{{ v.size  }}<font size="-1">メッシュ</font></td>
                <!--<td>{{ v.coast_distance_round }}</td>-->
                <td>{{ v.urban_point_round }}</td>

            </tr>
        {% endfor %}
    </table>
{% endif %}
    <!-- <br><br>
    <h2>探索方法について</h2>
    <br>

    <h4>使用データ</h4>
    政府統計の総合窓口(e-Stat) 2015年度国勢調査5次メッシュ人口データ<br>
    <a href="https://www.e-stat.go.jp/gis/statmap-search?type=1" target="_blank">https://www.e-stat.go.jp/gis/statmap-search?type=1</a><br>
    <font size="-1">
        ※国土をおよそ250m四方のメッシュに区切り、それぞれのメッシュに人口が入っているデータ
    </font>

    <br><br>
    政府統計の総合窓口(e-Stat) 2015年度国勢調査小地域データ<br>
    <a href="https://www.e-stat.go.jp/gis/statmap-search?type=2" target="_blank">https://www.e-stat.go.jp/gis/statmap-search?type=2</a><br>
    <font size="-1">
        ※集落と地名の紐づけに利用
    </font>



    <br><br>

    <h4>集落の定義</h4>
    人口を持つ隣接したメッシュの集合を集落として定義する。

    <br>たとえば下図のような地域があれば、赤丸で示す7集落が定義される。<br>

    <img src="/static/shiiba.png" width="500"><br>

    <font size="-1">
        ※図の四角はメッシュ、メッシュ内の数字は人口を示している。<br>
        ※メッシュが縦横だけでなく斜めに接している場合も隣接しているとみなす。<br>
        ※人口を持つメッシュが100個より多く隣接している場合は集落とみなさない。<br>
    </font>

    <br>
    <h4>秘境の定義</h4>
    集落の「都会度」を以下の式で定義し、都会度が小さいほど秘境度が高いとみなす。<br><br>
    都会度 =
    <font size="+1">
        <math>
            <munderover>
                <mi>&sum;</mi>
                <mrow>
                    <mn>集落外メッシュ</mn>
                </mrow>
            </munderover>
            <mfrac>
                <mrow>
                    <mn>人口</mn>
                </mrow>
                <mrow>
                    <msup>
                        <mn>距離</mn>
                        <mn>2</mn>
                    </msup>
                </mrow>
            </mfrac>
        </math>
    </font>
    <br><br>
    つまり、より近くにより多くの人口があれば都会であり、その逆であれば秘境である。<br>
    <font size="-1">
        ※集落外メッシュとの距離は集落の各メッシュからの距離のうち最短のものを採用する。<br>
        ※計算セグメントを北海道・本州・四国・九州・沖縄の5つにわけ、集落の都会度はセグメント内のメッシュのみを用いて評価する。<br>
        ※本土の都会度計算に離島のメッシュは含めず、離島の都会度計算には本土のメッシュを含んでいる
    </font>
    <br><br>

    <h4>地域区分</h4>
    地域区分は以下の通り。
    <ul>
        <li>北海道：北海道</li>
        <li>東北：青森県、秋田県、岩手県、宮城県、山形県、福島県</li>
        <li>関東：東京都、神奈川県、千葉県、埼玉県、群馬県、栃木県、茨城県</li>
        <li>北陸：新潟県、富山県、石川県、福井県</li>
        <li>中部：山梨県、長野県、岐阜県、静岡県、愛知県</li>
        <li>近畿：滋賀県、京都府、大阪県、三重県、奈良県、和歌山県</li>
        <li>中国：岡山県、鳥取県、広島県、島根県、山口県</li>
        <li>九州：福岡県、佐賀県、長崎県、熊本県、大分県、宮崎県、鹿児島県</li>
        <li>沖縄：沖縄県</li>
    </ul>
    本土を北海道・本州・四国・九州・沖縄本島とし、本土と橋で繋がっていない島を離島と定義する。
    <br><br>

    <h2>ver.1からの変更点</h2>
    <a href="https://search-isolated-villages.herokuapp.com/" target="_blank">ver.1</a>からの主な変更点は以下の通り。
    <ul>
        <li>使用データを3次メッシュから5次メッシュに変更</li>
        <li>メッシュデータの変更に伴い集落の定義を変更</li>
        <li>集落の定義の変更に伴い探索条件を変更</li>
        <li>都道府県別探索機能の追加</li>
        <li>離島機能の追加</li>
        <li>キーワード絞り込み機能の追加</li>
        <li>沖縄の追加</li>
        <li>フォーム入力値チェック機能の追加</li>
        <li>マップ出力機能の追加</li>
        <li>ツイートボタンの追加</li>
        <li>ツイッターカード設定（URLツイート時の画像表示）</li>
    </ul>
    <br>

    <h2>ソースコード</h2>
        <a href="https://github.com/ogawa-tomo/search-isolated-villages-2.git" target="_blank">https://github.com/ogawa-tomo/search-isolated-villages-2.git</a>
        <br><br>
    <h2>作者</h2>
    Twitter: <a href="https://twitter.com/otomo6sm" target="_blank">@otomo6sm</a> -->
{% endblock %}