<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175504444-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-175504444-1');
    </script>

    <meta charset="UTF-8">
    <!-- viewport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- おみくじ用CSS   -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <!-- <style type="text/css">
        a{
            text-decoration:underline;
        }
    </style> -->

    <!-- Multiple Select -->
    <!--<link rel="stylesheet" href="https://unpkg.com/multiple-select@1.3.1/dist/multiple-select.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>-->

    <!--<meta name="twitter:card" content="summary" />-->
    <!--&lt;!&ndash;<meta name="twitter:site" content="@ユーザー名" /> /*②*/&ndash;&gt;-->
    <!--&lt;!&ndash;<meta property="og:url" content="記事のURL" /> /*③*/&ndash;&gt;-->
    <!--<meta property="og:title" content="秘境集落探索ツール" />-->
    <!--<meta property="og:description" content="秘境集落を探索し、秘境度順にランキングで出力します。" />-->
    <!--<meta property="og:image" content="https://search-isolated-villages-2.herokuapp.com/static/village.png" />-->

    <!--<title>秘境集落探索ツール</title>-->

</head>
<!--<body class="modal-open">-->
<body>


    <div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-light" style="border-bottom: 1px solid #bfbfbf">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <font size="+1"> -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">秘境集落探索ツール</a>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  秘境施設探索ツール
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/post_office">秘境郵便局探索ツール</a>
                  <a class="dropdown-item" href="/elementary_school">秘境小学校探索ツール</a>
                  <a class="dropdown-item" href="/station">秘境駅探索ツール</a>
                  <a class="dropdown-item" href="/abandoned_station">秘境廃駅探索ツール</a>
                  <a class="dropdown-item" href="/michinoeki">秘境道の駅探索ツール</a>
                  <a class="dropdown-item" href="/new_town">秘境ニュータウン探索ツール</a>
                  <a class="dropdown-item" href="/research_institute">秘境研究機関探索ツール</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/uranai">秘境集落占い</a>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                  秘境施設占い
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/post_office/uranai">秘境郵便局占い</a>
                  <a class="dropdown-item" href="/elementary_school/uranai">秘境小学校占い</a>
                  <a class="dropdown-item" href="/station/uranai">秘境駅占い</a>
                  <a class="dropdown-item" href="/abandoned_station/uranai">秘境廃駅占い</a>
                  <a class="dropdown-item" href="/michinoeki/uranai">秘境道の駅占い</a>
                  <a class="dropdown-item" href="/new_town/uranai">秘境ニュータウン占い</a>
                  <a class="dropdown-item" href="/research_institute/uranai">秘境研究機関占い</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                その他
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/tokaido_taiketsu">都会度対決ツール</a>
                <a class="dropdown-item" href="/max_tokaido">都会度極大点探索ツール</a>
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about">このツールについて</a>
            </li>
          </ul>
        </div>
        <!-- </font> -->
    </nav>
    </div>

    <!--<div class="m-3 p-3">-->
    <!--<div class="mx-auto mt-3 pt-3 mb-3 pb-3" style="width: 1000px;">-->
    <!--<div class="panel-default">-->

    <!-- <div class="mx-auto m-3 p-3" style="width: 1100px;"> -->
    <div class="container">
        <br>


    <!--<div class="container-fluid mx-auto m-3 p-3">-->
        <!--<div class = "row">-->
            <!--<div class="col-auto">-->
                {% block content%}{% endblock%}
            <!--</div>-->
        <!--</div>-->
    </div>
    <!--</div>-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <!--<script src="jquery.multiple.select.js"></script>-->

    <!-- Multiple Select -->
    <!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
    <!--<script src="https://unpkg.com/multiple-select@1.3.1/dist/multiple-select.min.js"></script>-->
    <!--<script>-->
    <!--$(function() {-->
      <!--$("#region").multipleSelect({-->
        <!--width: 150-->
      <!--});-->
    <!--});-->
    <!--</script>-->

</body>
</html>